button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -300px;
    left: 0;
    margin: auto;
    height: 50px;
    background-color: rgb(43, 85, 173);
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

button:hover {
    cursor: pointer;
}

.key_name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -100px;
    left: 0;
    margin: auto;
    max-width: max-content;
    height: max-content;
    font-size: 24px;
}

.sheet_music {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 500px;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.line_sheet {
    background-color: black;
    height: 5px;
}

.dot_sheet {
    display: none;
    position: relative;
    top: -12px;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dot_sheet::after {
    content: "";
    position: absolute;
    top: -78px;
    left: 25px;
    background-color: black;
    width: 6px;
    height: 100px;
    transform: rotate(-180deg);
    border-radius: 50% 0 0;
}

.key_g {
    left: 200px;
}

.key_b {
    left: 400px;
}

.key_d {
    left: 600px;
}

.key_f {
    left: 800px;
}

.key_f_mid {
    position: absolute;
    left: 100px;
    top: 180px;
}

.key_a_mid {
    position: absolute;
    left: 300px;
    top: 125px;
}

.key_c_mid {
    position: absolute;
    left: 500px;
    top: 70px;
}

.key_e_mid {
    position: absolute;
    left: 700px;
    top: 15px;
}
